<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
</head>

<body>
<div style="display: flex;">
    <div style="align-self: center;">
        <!-- convert image to circle -->
        <img style="
            border-radius: 50%;
        " src="https://picsum.photos/50">
    </div>
    <div style="margin-left: 15px; align-self: center;">
        <h3 style="margin-bottom: 5px !important">ĐẤU GIÁ TRỰC TUYẾN</h3>
        <p style="margin-top: 5px !important">Trung tâm dịch vụ đấu giá tài sản</p>
    </div>

</div>
<div>
    <p>Xin chào <b>$data.userName</b></p>
    <p>Hệ thống đấu giá trực tuyến mời bạn đăng ký tham gia đấu giá tài sản</p>
    <div>
        Taì sản: <b>$data.productName</b>
    </div>
    <p>
        Tài sản bạn quan tâm còn <b>$data.dayToStart</b> ngày sẽ bắt đầu thời gian đăng ký đấu giá.
    </p>
    </br>
    <p>Thời gian bắt đầu đăng ký: $data.fromDate - $data.toDate </p>
    <p>Thời gian nộp tiền đặt trước: $data.preCostFromDate - $data.preCostToDate </p>
    <p>Mọi thông tin liên hệ vui lòng truy cập trang web: </p>
    <p>$data.url</p>
</div>
</body>

</html>