<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
</head>

<body>
<div style="display: flex;">
    <div style="align-self: center;">
        <!-- convert image to circle -->
        <img style="
            border-radius: 50%;
        " src="https://picsum.photos/50">
    </div>
    <div style="margin-left: 15px; align-self: center;">
        <h3 style="margin-bottom: 5px !important">ĐẤU GIÁ TRỰC TUYẾN</h3>
        <p style="margin-top: 5px !important">Trung tâm dịch vụ đấu giá tài sản</p>
    </div>

</div>
<div>
    <p>Xin chào <b>$data.userName</b></p>
    <p>Hệ thống đấu giá trực tuyến thông báo:</p>
    <div>
        Taì sản: <b>$data.productName</b>
    </div>
    <p>Tài sản bạn đăng ký tham gia đấu giá sẽ diễn ra vào: $data.startAuctionDate</p>
    <p>Chúc bạn có buổi đấu giá thành công.</p>

    <p>Mọi thông tin liên hệ vui lòng truy cập trang web: </p>
    <p>$data.url</p>
    <p>Xin cảm ơn!</p>
</div>
</body>

</html>